.bottom-bar {
    position: absolute;
    bottom: 10px;
    // height: 55px;
    width: 100%;
    left: 0;
    // background-color: #efefef;
    // background-color: violet;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    .bottom-inner {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(165, 165, 165, 0.5);
        border-radius: 35px;
        height: 50px;
        margin: 5px;
        .footer-icon {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 35px;
            width: 40px;
            &:hover {
                cursor: pointer;
            }
            &#gmail {
                background-image: url("../imgs/gmail.png");
                opacity: 0.3;
            }
            &#messages {
                background-image: url("../imgs/messages.png");
                width: 43px;
                opacity: 0.3;
            }
            &#safari {
                background-image: url("../imgs/safari.svg");
                width: 35px;
                opacity: 0.3;
            }
            &#twitter {
                background-image: url("../imgs/twitter.png");
                width: 43px;
                opacity: 0.3;
            }
            &#contacts {
                width: 35px;
                background-image: url("../imgs/contacts.svg");
                // animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                // transform: translate3d(0, 0, 0);
                // backface-visibility: hidden;
                // perspective: 1000px;
                // animation-iteration-count: infinite;
                // animation-delay: 2s;
                // width: 43px;
            }
        }
    }
    .left {
        display: inline-flex;
        justify-content: space-between;
        flex: 1;
        padding-right: 10px;
        .footer-icons {
            height: 30px;
            width: 20px;
            background-size: contain;
            border-radius: 10px;
            background-repeat: no-repeat;
        }
        #camera {
            // background-image: url("../imgs/camera.png");
        }
        #app-store {
            // background-image: url("../imgs/app-store.png");
        }
    }

    .right {
        flex: 3;
        .reply-message {
            .reply-message-inner {
                background-color: #efefef;
                border-radius: 20px;
                text-align: right;
                img {
                    height: 18px;
                    padding-right: 5px;
                    padding-top: 3px;
                    // padding: 5px;
                    // float: right;
                }
            }
        }
        .img {
        }
    }
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
